/*
Profile
*/
.profile {
    border-bottom: 1px solid #eee;
    max-width: 700px;
    margin-bottom: 30px;
}

.profile h1  {
    font-weight: 600;
    letter-spacing: -2px;
    font-size: 3em;
    color: #222;
}

.profile  h2  {
    color: #aaa;
}

.company  {
    color: #003D51;
    font-weight: bold;
}

.department {
    color: #7BC636;
    font-weight: bold;
}

@media (max-width: 700px) {
    .profile  h1 {
        font-size: 2em;
    }
}

/*
 Main.Post_List
 */

#list-page  .title  {
    color: #222222;
    font-weight: bold;
}

#list-page  .item  {
    margin-bottom: 20px;
}

#list-page  .item  +  .item  {
    border-top: 1px  solid  #eee;
    padding-top: 20px;
}